
body{
  /* background-color: gray; */
  background-image: url('https://img.freepik.com/free-vector/geometric-science-education-background-vector-gradient-blue-digital-remix_53876-125993.jpg?w=2000');
  width: 100%;
  height: 100%;
  /* margin-top: 20px; */
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  /* text-align: center; */
  
}
.login{
  display: flex;
  height: 100%;
}
.img{
  width: 50%;
  height: 100vh;
}
.card{
  align-items: center;
  /* margin-top: 10px; */
  /* background-color: cornflowerblue; */
  color: white;
  width: 50%;
  border-radius: 20px;
  
}
.signup{
  display: flex;
  height: 500%;
}
.img{
  width: 50%;
  height: 500%;
}
/* .signupcard{
  background-color: white;
  width: 50%;
  text-align: left;
  align-items: center;
} */
.cardtodo{
  width: 800px;
  /* height: 1000px; */
  /* background-color: black; */
  
}
/* .center{
  background-color: orange;
} */
.cardbody{
  /* background-color: gray; */
  background-image: url('https://thumbs.dreamstime.com/b/desk-notepad-to-do-list-pens-light-pink-background-top-view-desk-notepad-to-do-list-pens-light-pink-125175912.jpg');
}
.cardtitle{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 27px;
}
.order{
  display: block;
  margin-bottom: 10px;
  justify-content: space-between;
}
.order div{
  margin-bottom: 10px;
}
.order button{
  justify-content: space-between;
}
table{
  justify-content: space-between;
}
.cards{
  background-color:rgba(5, 66, 107, 0.829);
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  
  
  /* justify-content: space-between; */
  
}